{{ template "header" }}
<h1>Super Aggregator</h1>
<form method="POST">
  <div class="row">
    <div class="col-1">
      <h3>From</h3>
    </div>
    <div class="col-1">
      <input type="number" class="form-control" name="fromCount" placeholder="inf">
    </div>
    <div class="col-2">
      <select class="form-select" name="fromUnit">
        <option value="m">Minutes</option>
        <option value="h">Hours</option>
        <option value="d">Days</option>
        <option value="w">Weeks</option>
      </select>
    </div>
    <div class="col-2">
      <h3>ago</h3>
    </div>
    <div class="col">
      <h3>To</h3>
    </div>
    <div class="col">
      <div class="form-check">
        <input class="form-check-input" type="checkbox" value="" id="toNow" name="toNow">
        <label class="form-check-label" for="toNow">Now</label>
      </div>
    </div>
    <div class="col-1">
      <input type="number" class="form-control" name="toCount" placeholder="inf">
    </div>
    <div class="col-2">
      <select class="form-select" name="toUnit">
        <option value="m">Minutes</option>
        <option value="h">Hours</option>
        <option value="d">Days</option>
        <option value="w">Weeks</option>
      </select>
    </div>
    <div class="col-1">
      <h3>ago</h3>
    </div>
  </div>
  <div class="row">
    <div class="col-2">
      <button type="submit" class="btn btn-primary">Submit</button>
    </div>
  </div>
</form>
<table class="table table-hover">
  <thead>
    <tr>
      <th>Time</th>
      <th>{{ template "dropdownButton" "App" }}{{ template "dropdownItems" .Applications }}</th>
      <th>{{ template "dropdownButton" "Host" }}{{ template "dropdownItems" .Hosts }}</th>
      <th>{{ template "dropdownButton" "Env" }}{{ template "dropdownItems" .Environments }}</th>
      <th>Entry</th>
    </tr>
    <tr>
      <td></td>
      <td><strong>{{ .Current.Application }}</strong></td>
      <td><strong>{{ .Current.Host }}</strong></td>
      <td><strong>{{ .Current.Environment }}</strong></td>
      <td></td>
    </tr>
  </thead>
  <tbody>
  {{ if .Entries }}
    {{ range .Entries }}
    <tr>
      <td>{{ .PrettyTimestamp }}</td>
      <td>{{ .Application }}</td>
      <td>{{ .Host }}</td>
      <td>{{ .Environment }}</td>
      <td>{{ .LogLine }}</td>
    </tr>
    {{ end }}
  {{ else }}
    <tr>
      <td>No log entries found</td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
  {{ end }}
  </tbody>
</table>
<nav>
  <ul class="pagination">
    <li class="page-item{{ if eq .Page 1 }} disabled{{ end }}"><a class="page-link" href="{{ .PrevPage }}">Previous</a></li>
    <li class="page-item{{ if not .Entries }} disabled{{ end }}"><a class="page-link" href="{{ .NextPage }}">Next</a></li>
  </ul>
</nav>
{{ template "footer" }}

{{ define "dropdownButton" }}
<div class="dropdown">
  <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown">
    {{ . }}
  </button>
{{ end }}
{{ define "dropdownItems" }}
  <ul class="dropdown-menu">
    {{ range . }}
    <li><a class="dropdown-item" href="{{ .Path }}">{{ .Name }}</a></li>
    {{ end }}
  </ul>
</div>
{{ end }}
