{{ template "header" }}
<table class="table table-hover">
  <thead>
    <tr>
      <th>Date</th>
      <th>{{ template "dropdown" .Applications }}</th>
      <th>Host</th>
      <th>Env</th>
      <th>Entry</th>
    </tr>
  </thead>
  <tbody>
    {{ range $i, $e := .Entries }}
    <tr>
      <td>{{ $e.PrettyTimestamp }}</td>
      <td>{{ $e.Application }}</td>
      <td>{{ $e.Host }}</td>
      <td>{{ $e.Environment }}</td>
      <td>{{ $e.LogLine }}</td>
    </tr>
    {{ end }}
  </tbody>
</table>
{{ template "footer" }}

{{ define "dropdown" }}
<div class="dropdown">
  <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown">
    Application
  </button>
  <ul class="dropdown-menu">
    <li><a class="dropdown-item" href="/">All</a></li>
    {{ range . }}
    <li><a class="dropdown-item" href="/?application={{ . }}">{{ . }}</a></li>
    {{ end }}
  </ul>
</div>
{{ end }}
